body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#etiqueta {
    border: 1px solid #ccc;
    width: 15cm;
    height: 10cm;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#etiqueta h2 {
    font-size: 12px; /* Tamanho do texto do SKU - ajuste conforme necessário */
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 12px; /* Ajuste a altura da linha conforme necessário */
}

#etiqueta p {
    font-size: 10px; /* Tamanho do texto da descrição - ajuste conforme necessário */
    font-weight: normal; /* Remova o negrito se não for necessário */
    margin: 0;
    padding: 0;
    line-height: 10px; /* Ajuste a altura da linha conforme necessário */
}
